<%@ Master Language="C#" MasterPageFile="~/masterpages/Profile.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderID="subpagecontent" runat="server">
<umbraco:Macro Alias="HeroesPage_uc" runat="server" />
</asp:Content>