<%@ Master Language="C#" MasterPageFile="~/masterpages/Profile.master" AutoEventWireup="true" %>
  <asp:Content ContentPlaceHolderID="subpagecontent" runat="server">
<umbraco:Macro Alias="HeroPage_razor" runat="server" />
</asp:Content>