<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT careerInfoPage ANY>
<!ATTLIST careerInfoPage id ID #REQUIRED>
<!ELEMENT fallenHero ANY>
<!ATTLIST fallenHero id ID #REQUIRED>
<!ELEMENT fallenHeroesPage ANY>
<!ATTLIST fallenHeroesPage id ID #REQUIRED>
<!ELEMENT fallenHeroPage ANY>
<!ATTLIST fallenHeroPage id ID #REQUIRED>
<!ELEMENT hero ANY>
<!ATTLIST hero id ID #REQUIRED>
<!ELEMENT heroesPage ANY>
<!ATTLIST heroesPage id ID #REQUIRED>
<!ELEMENT heroItem ANY>
<!ATTLIST heroItem id ID #REQUIRED>
<!ELEMENT heroPage ANY>
<!ATTLIST heroPage id ID #REQUIRED>
<!ELEMENT heroProgress ANY>
<!ATTLIST heroProgress id ID #REQUIRED>
<!ELEMENT heroSkills ANY>
<!ATTLIST heroSkills id ID #REQUIRED>
<!ELEMENT heroStats ANY>
<!ATTLIST heroStats id ID #REQUIRED>
<!ELEMENT item ANY>
<!ATTLIST item id ID #REQUIRED>
<!ELEMENT items ANY>
<!ATTLIST items id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
<!ELEMENT profilePage ANY>
<!ATTLIST profilePage id ID #REQUIRED>
<!ELEMENT profiler ANY>
<!ATTLIST profiler id ID #REQUIRED>
<!ELEMENT progressPage ANY>
<!ATTLIST progressPage id ID #REQUIRED>

]>
<root id="-1">
  <Master id="1046" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1044" template="1062" sortOrder="2" createDate="2012-07-26T18:40:03" updateDate="2012-08-16T13:30:52" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1046" isDoc="">
    <profilePage id="1070" parentID="1046" level="2" writerID="0" creatorID="0" nodeType="1063" template="1078" sortOrder="0" createDate="2012-08-16T10:37:15" updateDate="2012-08-16T13:30:52" nodeName="Profile" urlName="profile" writerName="admin" creatorName="admin" path="-1,1046,1070" isDoc="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <careerInfoPage id="1071" parentID="1070" level="3" writerID="0" creatorID="0" nodeType="1066" template="1079" sortOrder="1" createDate="2012-08-16T10:38:36" updateDate="2012-08-16T13:30:52" nodeName="Career info" urlName="career-info" writerName="admin" creatorName="admin" path="-1,1046,1070,1071" isDoc="">
        <umbracoNaviHide />
      </careerInfoPage>
      <progressPage id="1072" parentID="1070" level="3" writerID="0" creatorID="0" nodeType="1067" template="1080" sortOrder="2" createDate="2012-08-16T10:38:52" updateDate="2012-08-16T13:30:52" nodeName="Progress" urlName="progress" writerName="admin" creatorName="admin" path="-1,1046,1070,1072" isDoc="">
        <umbracoNaviHide />
      </progressPage>
      <heroesPage id="1073" parentID="1070" level="3" writerID="0" creatorID="0" nodeType="1064" template="1081" sortOrder="3" createDate="2012-08-16T10:39:05" updateDate="2012-08-16T13:30:52" nodeName="Heroes" urlName="heroes" writerName="admin" creatorName="admin" path="-1,1046,1070,1073" isDoc="">
        <umbracoNaviHide />
        <heroPage id="1075" parentID="1073" level="4" writerID="0" creatorID="0" nodeType="1068" template="1083" sortOrder="1" createDate="2012-08-16T10:39:36" updateDate="2012-08-16T13:30:52" nodeName="Hero" urlName="hero" writerName="admin" creatorName="admin" path="-1,1046,1070,1073,1075" isDoc="">
          <umbracoNaviHide />
        </heroPage>
      </heroesPage>
      <fallenHeroesPage id="1074" parentID="1070" level="3" writerID="0" creatorID="0" nodeType="1065" template="1082" sortOrder="4" createDate="2012-08-16T10:39:24" updateDate="2012-08-16T13:30:52" nodeName="Fallen heroes" urlName="fallen-heroes" writerName="admin" creatorName="admin" path="-1,1046,1070,1074" isDoc="">
        <umbracoNaviHide />
        <fallenHeroPage id="1086" parentID="1074" level="4" writerID="0" creatorID="0" nodeType="1069" template="1084" sortOrder="1" createDate="2012-08-16T11:12:38" updateDate="2012-08-16T13:30:52" nodeName="Fallen hero" urlName="fallen-hero" writerName="admin" creatorName="admin" path="-1,1046,1070,1074,1086" isDoc="">
          <umbracoNaviHide>0</umbracoNaviHide>
        </fallenHeroPage>
      </fallenHeroesPage>
    </profilePage>
    <profiler id="1060" parentID="1046" level="2" writerID="0" creatorID="0" nodeType="1054" template="0" sortOrder="1" createDate="2012-08-14T15:35:56" updateDate="2012-08-16T13:30:52" nodeName="Profiles" urlName="profiles" writerName="admin" creatorName="admin" path="-1,1046,1060" isDoc="">
      <umbracoNaviHide>1</umbracoNaviHide>
      <profile id="2354" parentID="1060" level="3" writerID="0" creatorID="0" nodeType="1059" template="0" sortOrder="1" createDate="2012-09-05T19:30:55" updateDate="2012-09-05T19:30:59" nodeName="MrGreen#2532" urlName="mrgreen2532" writerName="admin" creatorName="admin" path="-1,1046,1060,2354" isDoc="">
        <lastPlayedHero>13810</lastPlayedHero>
        <lastUpdated>1342912580</lastUpdated>
        <kills />
        <monsters>69300</monsters>
        <elites>2611</elites>
        <hardcoreMonsters>768</hardcoreMonsters>
        <timePlayed />
        <barbarian>0.0030</barbarian>
        <demonHunter>0,22</demonHunter>
        <monk>1.0</monk>
        <wicthDoctor>0,268</wicthDoctor>
        <wizard>0.509</wizard>
        <act1Normal />
        <act2Normal />
        <act3Normal />
        <act4Normal />
        <act1Nightmare />
        <act2Nightmare />
        <act3Nightmare />
        <act4Nightmare />
        <act1Hell />
        <act2Hell />
        <act3Hell />
        <act4Hell />
        <act1Inferno />
        <act2Inferno />
        <act3Inferno />
        <act4Inferno />
        <numberOfHeroes>5</numberOfHeroes>
        <umbracoNaviHide />
        <hero id="2355" parentID="2354" level="4" writerID="0" creatorID="0" nodeType="2304" template="0" sortOrder="1" createDate="2012-09-06T08:53:09" updateDate="2012-09-06T08:53:10" nodeName="13810" urlName="13810" writerName="admin" creatorName="admin" path="-1,1046,1060,2354,2355" isDoc="">
          <class>monk</class>
          <id>13810</id>
          <gender />
          <level>60</level>
          <hardcore>0</hardcore>
          <elites />
          <name>MrGreen</name>
          <isCreatedFirstTime>1</isCreatedFirstTime>
          <paragonLevel>0</paragonLevel>
          <lastUpdated>1342912580</lastUpdated>
          <dead>0</dead>
          <umbracoNaviHide />
        </hero>
        <hero id="2356" parentID="2354" level="4" writerID="0" creatorID="0" nodeType="2304" template="0" sortOrder="2" createDate="2012-09-06T08:53:11" updateDate="2012-09-06T08:53:12" nodeName="8840910" urlName="8840910" writerName="admin" creatorName="admin" path="-1,1046,1060,2354,2356" isDoc="">
          <class>wizard</class>
          <id>8840910</id>
          <gender />
          <level>16</level>
          <hardcore>0</hardcore>
          <elites />
          <name>MrGreenW</name>
          <isCreatedFirstTime>1</isCreatedFirstTime>
          <paragonLevel>0</paragonLevel>
          <lastUpdated>1339258483</lastUpdated>
          <dead>0</dead>
          <umbracoNaviHide />
        </hero>
        <hero id="2357" parentID="2354" level="4" writerID="0" creatorID="0" nodeType="2304" template="0" sortOrder="3" createDate="2012-09-06T08:53:12" updateDate="2012-09-06T08:53:13" nodeName="6119582" urlName="6119582" writerName="admin" creatorName="admin" path="-1,1046,1060,2354,2357" isDoc="">
          <class>witch-doctor</class>
          <id>6119582</id>
          <gender />
          <level>11</level>
          <hardcore>0</hardcore>
          <elites />
          <name>MrGreenWD</name>
          <isCreatedFirstTime>1</isCreatedFirstTime>
          <paragonLevel>0</paragonLevel>
          <lastUpdated>1338127923</lastUpdated>
          <dead>0</dead>
          <umbracoNaviHide />
        </hero>
        <hero id="2358" parentID="2354" level="4" writerID="0" creatorID="0" nodeType="2304" template="0" sortOrder="4" createDate="2012-09-06T08:53:13" updateDate="2012-09-06T08:53:14" nodeName="10021309" urlName="10021309" writerName="admin" creatorName="admin" path="-1,1046,1060,2354,2358" isDoc="">
          <class>demon-hunter</class>
          <id>10021309</id>
          <gender />
          <level>9</level>
          <hardcore>0</hardcore>
          <elites />
          <name>MrGreenDH</name>
          <isCreatedFirstTime>1</isCreatedFirstTime>
          <paragonLevel>0</paragonLevel>
          <lastUpdated>1338646161</lastUpdated>
          <dead>0</dead>
          <umbracoNaviHide />
        </hero>
        <hero id="2359" parentID="2354" level="4" writerID="0" creatorID="0" nodeType="2304" template="0" sortOrder="5" createDate="2012-09-06T08:53:14" updateDate="2012-09-06T08:53:15" nodeName="3230738" urlName="3230738" writerName="admin" creatorName="admin" path="-1,1046,1060,2354,2359" isDoc="">
          <class>barbarian</class>
          <id>3230738</id>
          <gender />
          <level>1</level>
          <hardcore>0</hardcore>
          <elites />
          <name>Diamondhand</name>
          <isCreatedFirstTime>1</isCreatedFirstTime>
          <paragonLevel>0</paragonLevel>
          <lastUpdated>1337195997</lastUpdated>
          <dead>0</dead>
          <umbracoNaviHide />
        </hero>
      </profile>
    </profiler>
    <items id="1061" parentID="1046" level="2" writerID="0" creatorID="0" nodeType="1058" template="0" sortOrder="2" createDate="2012-08-14T15:36:07" updateDate="2012-08-16T13:30:52" nodeName="Items" urlName="items" writerName="admin" creatorName="admin" path="-1,1046,1061" isDoc="">
      <umbracoNaviHide>1</umbracoNaviHide>
    </items>
    <profilePage id="2342" parentID="1046" level="2" writerID="0" creatorID="0" nodeType="1063" template="2343" sortOrder="4" createDate="2012-09-05T18:04:06" updateDate="2012-09-05T18:06:16" nodeName="_TestMethods" urlName="_testmethods" writerName="admin" creatorName="admin" path="-1,1046,2342" isDoc="">
      <umbracoNaviHide>1</umbracoNaviHide>
    </profilePage>
  </Master>
</root>