<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Diablo3ProfilerEntities" connectionString="metadata=res://*/D3Entities.csdl|res://*/D3Entities.ssdl|res://*/D3Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Diablo3Profiler;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>